header * {
  background: #ffffff;
  z-index: 2;
}

main {
  padding-top: 120px;
}

.card {
  max-width: 300px;
  height: 400px;
}

#num {
  position: relative;
}

#icn {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #f35a5a;
  text-align: center;
  color: white;
  font-weight: bold;
}

#cart-item div*:hover {
  background: #eee;
}
